<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding The Market</title>
    <link rel="stylesheet" href="/css/learn.css">

    <style>
        body{
            width: 100%;
            overflow-x: hidden;
        }

        p{
            font-size: 1.2rem;
            line-height: 1.8rem;
        }

      
        
    </style>

</head>

<body style="background-image: url('/images/learn-images/chp-hero04.png'); background-repeat: no-repeat;">

    <%- include('../includes/navbar.ejs') %>
    <div id="chp2Box" class="chpBox">
        <div id="tob" class="chp2tob">
            <div id="contentBox" class="chp2contentBox">
                <h2 style="color: #6540FF;"><u>Table of Contents</u></h2>
                <div id="list">
                    <ul>

                        <li><a href="#bull" class="subheading">Bullish Market Trend</a></li>
                        <li><a href="#bear" class="subheading">Bearsih Market Trend</a></li>
                        <li><a href="#supply" class="subheading">Supply and Demand</a></li>

                        <li>
                            <a href="#affect" class="subheading">Affects</a>
                            <ul>
                                <li><a href="#invest" class="subheading">Investor Psychology</a></li>
                                <li><a href="#economic" class="subheading">Economic Activity</a></li>
                            </ul>
                        </li>

                        <li><a href="#each" class="subheading">What To do in each Market</a></li>
                        <li><a href="#conclusion" class="subheading">Conclusion</a></li>

                    </ul>
                </div>
            </div>
        </div>
        

        <div class="mainContent" id="chp2mainContent">
            <div id="chp-hero">
            <h1 id="chapter-heading">Understand The Market</h1>
            <p >In the investing world, the terms “bull” and “bear” are frequently used to refer to market conditions.
                These terms describe how stock markets are doing in general—that is, whether they are appreciating or
                depreciating in value.
            </p>
            <p >
                As an investor, <span id="purple"> the direction of the market is a major force that has a huge impact</span> on your portfolio.
                So, it’s important to understand how each of these market conditions may impact your investments.
            </p>

            </div>

            <img src="/images/learn-images/BullBear3.jpg" alt="bull and Bear" class="chp2Photu" id="BullBear">

            <h2 id="bull">Bullish Market Trend</h2>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">A bull market is a market that is on the rise and where the conditions of the economy are generally
                favourable. </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">A bull market is typified by a sustained increase in prices. In the case of equity markets, a bull market
                denotes a rise in the prices of companies’ shares. In such times, investors often have faith that the
                uptrend will continue over the long term.
                In this scenario, the country’s economy is typically strong and employment levels are high.</p>

                <img src="/images/learn-images/bull-market.jpg" id="bullPhotu" class="chp2Photu" alt="bull-Market">

            <h2 id="bear">Bearish Market Trend</h2>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">By contrast, a bear market is one that is in decline. A <span id="purple">market is usually not considered a true “bear”
                market unless it has fallen 20% or more </span>from recent highs. In a bear market, share prices are
                continuously dropping.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">This results in a downward trend that investors believe will continue; this belief, in turn, perpetuates
                the downward spiral. During a bear market, the economy slows down and unemployment rises as companies
                begin laying off workers.</p>

            <img src="/images/learn-images/bear-market.webp" alt="bear-Market" class="chp2Photu" id="bearPhotu">

            <h2 id="supply">Supply and Demand for Securities</h2>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">In a bull market, there is strong demand and weak supply for securities. In other words, many investors
                wish to buy securities, but few are willing to sell them. As a result, share prices will rise as
                investors compete to obtain available equity</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">In a bear market, the opposite is true: More people are looking to sell than buy. Demand is significantly
                lower than supply and, as a result, share prices drop.</p>

                <div id="supplyPhotu">
                    <div id="sPhotu1"><img src="/images/learn-images/supplyDemand.png" alt=""></div>
                    <div id="sPhotu2"><img src="/images/learn-images/supplyDemandChart.png" alt=""></div>
                </div>

            <h2 id="affect">Affects</h2>
            
            <ol>
                <li>
                    <tr>
                        <h3 id="invest">Investor Psychology</h3>
                    </tr>
                    <td>
                        <p style="font-size: 1.2rem; line-height: 1.8rem;"><span id="purple">Because the market’s behavior is impacted and determined by how individuals perceive and
                            react to its behavior, investor psychology and sentiment affect whether the market will rise
                            or fall</span>. Stock market performance and investor psychology are mutually dependent. In a bull
                            market, investors willingly participate in the hope of obtaining a profit.</p>
                        <p style="font-size: 1.2rem; line-height: 1.8rem;">During a bear market, market sentiment is negative; investors begin to move their money out
                            of equities and into fixed-income securities as they wait for a positive move in the stock
                            market. In sum, the decline in stock market prices shakes investor confidence. This causes
                            investors to keep their money out of the market, which, in turn, causes a general price
                            decline as outflow increases.</p>
                    </td>
                </li>

                <li>
                    <tr>
                        <h3 id="economic">Change in Economic Activity</h3>
                    </tr>
                    <td>
                        <p style="font-size: 1.2rem; line-height: 1.8rem;">Because the businesses whose stocks are trading on the exchanges are participants in the
                            greater economy, the stock market and the economy are strongly linked.</p>
                        <p style="font-size: 1.2rem; line-height: 1.8rem;">A bear market is associated with a weak economy. Most businesses are unable to record huge
                            profits because consumers are not spending nearly enough. This decline in profits directly
                            affects the way that the market values stocks.</p>
                        <p style="font-size: 1.2rem; line-height: 1.8rem;">In a bull market, the reverse occurs. People have more money to spend and are willing to
                            spend it. This drives and strengthens the economy.</p>
                    </td>
                </li>
            </ol>

            <h2 id="each">What to Do in Each Market </h2>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">In a bull market, the ideal action for an investor is to take advantage of rising prices by buying stocks early in the trend (if possible) and then selling them when they have reached their peak.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">During the bull market, any losses should be minor and temporary; an investor can typically actively and confidently invest in more equity with a higher probability of making a return.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;"><span id="purple"> In a bear market, however, the chance of losses is greater because prices are continually losing value</span> and the end is often not in sight. Even if you do decide to invest with the hope of an upturn, you are likely to take a loss before any turnaround occurs. Thus, most of the profitability can be found in short selling or safer investments, such as fixed-income securities.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">An investor may also turn to defensive stocks, whose performance is only minimally impacted by changing trends in the market. Therefore, defensive stocks are stable in both economic gloom and boom cycles. These are industries such as utilities, which are often owned by the government. They are necessities that people buy regardless of economic conditions.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">In addition, investors may benefit from taking a short position in a bear market and profiting from falling prices. There are several ways to achieve this, including short selling, buying inverse exchange-traded funds (ETFs), or buying put options.</p>


            <h2 id="conclusion">Conclusion</h2>
            <ul>
                <li><p style="font-size: 1.2rem; line-height: 1.8rem;">A bull market is a market that is on the rise and where the economy is sound. A bear market exists in an economy that is receding, where most stocks are declining in value.</p></li>
                <li><p style="font-size: 1.2rem; line-height: 1.8rem;">Although some investors can be “bearish,” the majority of investors are typically “bullish.” The stock market, as a whole, has tended to post positive returns over long time horizons.</p></li>
                <li><p style="font-size: 1.2rem; line-height: 1.8rem;">A bear market can be more dangerous to invest in, as many equities lose value and prices become volatile.</p></li>
                <li><p style="font-size: 1.2rem; line-height: 1.8rem;"><span id="purple"> Since it is hard to time a market bottom, investors may withdraw their money from a bear market</span> and sit on cash until the trend reverses, further sending prices lower.</p></li>
            </ul>

        </div>
    </div>    
    <%- include('../includes/footer.ejs') %>

    <script src="/js/scroll.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
</body>

</html>