<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Understanding the Chart</title>
    <link rel="stylesheet" href="/css/learn.css">
    <style>
        *{
            font-family:sans-serif;
        }
    </style>

</head>

<body style="background-image: url('/images/learn-images/chp-hero04.png'); background-repeat: no-repeat;">
    <%- include('../includes/navbar.ejs') %>
    <div id="chp1Box" class="chpBox">
        <div id="tob">
            <div id="contentBox">
                <h2 style="color: #6540FF;"><u>Table of Contents</u></h2>
                <div id="list">
                    <ul>
                        <li><a href="#TypesOfChart" class="heading">Types of chart</a></li>
                        <ul>
                            <li><a href="#ColoredLineChart" class="subheading">Colored Line Chart</a></li>
                            <li><a href="#CandleStickChart" class="subheading">Candlestick Chart</a></li>
                        </ul>
                        <li><a href="#readChart" class="heading">Reading Chart</a></li>
                        <ul>
                            <li>
                                <a href="#ConentsofChart" class="subheading">Contents of Chart</a>
                                <ul>
                                    <li><a href="#StockPrice" class="subheading">Stock Price</a></li>
                                    <li><a href="#TimePeriod" class="subheading">Time Period</a></li>
                                    <li><a href="#TimeInterval" class="subheading">Time Interval</a></li>
                                    <li><a href="#StockExchange" class="subheading">Stock Exchange</a></li>
                                    <li><a href="#Price" class="subheading">Price</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mainContent">
            <div id="chp-hero">
                <h1 id="chapter-heading">Understand the Chart</h1>
                <p>Trading charts are graphical representations of price movements and trading volume over time for financial instruments like stocks, forex, cryptocurrencies, and commodities. They are essential tools for traders and investors to analyze market trends and make informed decisions.
                    Each type of chart provides different insights and can be used in conjunction with various technical indicators and analysis tools to help traders make decisions.
                </p>
            </div>
            <h2 id="TypesOfChart">Types of Chart</h2>
            <div id="charts">
                <p style="font-size: 1.05rem; line-height: 1.8rem;"><strong>Here we will only cover two major styles used</strong></p>
                <ul>
                    <li>
                        <h2 id="ColoredLineChart"><u>Coloured Line Chart</u></h2>
                        <p style="font-size: 1.05rem; line-height: 1.8rem;">A line chart in the stock market is a graphical representation of an asset’s historical price
                            movements over time.
                            Line charts are created by connecting a series of data points that represent the closing
                            prices of an asset, such as stocks, with straight lines.</p>
                        <p style="font-size: 1.05rem; line-height: 1.8rem;">Coloured line charts offer a slightly better view of the price fluctuations by colouring the
                            line segment red if the current interval’s closing price is lower than the previous interval
                            and green if it is higher.
                            <span id="purple">This allows you to quickly assess the performance of the stock over the
                                time period across
                                intervals</span>.
                        </p>

                        <p style="font-size: 1.05rem; line-height: 1.8rem;">Here is what it looks like:</p>
                        <div id="linephotu">

                        </div>
                        <p style="font-size: 1.05rem; line-height: 1.8rem;">But this is comparatively hard to undertand so we use candle stick chart in learning</p>
                    </li>


                    <div id="candleBox">


                        <li>
                            <h2 id="CandleStickChart"><u>Candle Stick Chart</u></h2>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">Candle or candlesticks are a great visual representation of the fluctuations in the price
                                of
                                a stock.
                                Traders use this to identify trends and estimate the direction the stock price can take
                                in
                                the near term.
                                These are highly popular among traders and investors as they pack a lot of information
                                in
                                them.</p>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">A candlestick chart is a type of financial chart used to describe price movements of a
                                security, derivative, or currency.
                                <span id="purple">Each "candlestick" typically shows one day of data, and it contains
                                    the high, low,
                                    opening,
                                    and closing prices for the day</span>.
                            </p>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">Here is what it looks like:</p>

                            <div id="candlephotu"></div>


                            <div id="understandingCandle">
                                <ul>
                                    <li>
                                        <h3 id="understandingCandleStick">Understanding CandleStick</h3>
                                        <p style="font-size: 1.05rem; line-height: 1.8rem;">Each candle has three parts – the body, lower shadow, and upper shadow.
                                            Also, each candlestick offers a visual representation of the opening price,
                                            closing
                                            price, highest price, and lowest price of the interval it represents.
                                            Here is an example:</p>

                                        <img src="/images/learn-images/understandCandle.png" id="underCandlephotu">
                                        <p style="font-size: 1.05rem; line-height: 1.8rem;">As you can see, a single candlestick displays information about different
                                            aspects of
                                            the stock price.
                                            When viewed over a period, this can be a wealth of information for
                                            traders/investors.
                                            Here is how you can read a candlestick chart:</p>
                                        <ul>
                                            <li>
                                                <p style="font-size: 1.05rem; line-height: 1.8rem;">The body represents the opening and closing prices of the stock.
                                                    If it is red, then the stock closed lower than its opening price.
                                                </p>
                                                <p style="font-size: 1.05rem; line-height: 1.8rem;">On the other hand, if it is green, then the closing price was higher
                                                    than the
                                                    opening price.
                                                    If you are looking at a week/month/year, a larger number of
                                                    consecutive reds
                                                    imply that the stock price is falling and consecutive greens imply a
                                                    steady
                                                    rise in the price.</p>
                                            </li>
                                            <li>
                                                <p style="font-size: 1.05rem; line-height: 1.8rem;">The shadows above and below the body represent highs and lows during
                                                    the
                                                    interval. A short upper shadow on a red candle means that the stock
                                                    opened
                                                    near the high of the interval but closed lower.</p>

                                                <p style="font-size: 1.05rem; line-height: 1.8rem;"> On the other hand, a short upper shadow on a green candle means that
                                                    the
                                                    stock closed near the high of the interval.</p>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>


                        </li>
                    </div>

                </ul>

                <h2 style="font-size: 2rem;" id="readChart">How to read a Chart</h2>

                <h2 id="ConentsofChart">Contents of Charts</h2>
                <!-- <div id="readContent"> -->
                <img id="ContentChart" src="/images/learn-images/chart.png" alt="content chart">
                <p style="font-size: 1.05rem; line-height: 1.8rem;">Understanding a stock market chart involves familiarizing yourself with its various components
                    and the information it conveys about the stock's performance.
                    Here's a guide to help you interpret stock market charts:</p>

                <ol>
                    <li>
                        <tr>
                            <h3 id="StockPrice">Stock Price</h3>
                        </tr>
                        <td>Right at the top of the screen, you can see the name of the stock and the current stock
                            price.
                            If you are looking at the chart after market hours, then it would display the stock
                            price at the close of the previous trading day</td>
                    </li>
                    <img src="/images/learn-images/StockPrice.png" alt="Stock price">

                    <li>
                        <tr>
                            <h3 id="TimePeriod">Time Period</h3>
                        </tr>
                        <td>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">At the bottom of the screen, you can select the period for which you want to check
                                the performance of the stock.

                            </p>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">Each of these periods can be used based on the kind of research you are conducting
                                with respect to the stock. For example, an intraday trader can select 1D or 1W to
                                assess the stock’s recent performance and make trading decisions.<span id="purple">
                                    However, long-term
                                    investors would want to look at 3-5 years to assess the performance of the stock
                                    across different market cycles</span>.
                            </p>
                        </td>
                    </li>
                    <img id="time_period" src="/images/learn-images/time period.png" alt="time period">

                    <li>
                        <tr>
                            <h3 id="TimeInterval">Time Interval</h3>
                        </tr>
                        <td>Once you have selected the time period, you also need to select the interval at which
                            you need the chart plotted. For example, if you select the time period as one day, then
                            you need to determine if you want the data points to be plotted every minute, five
                            minutes, ten minutes, 15 minutes, 30 minutes, one hour, or four hours. </td>
                    </li>
                    <img id="time_interval" src="/images/learn-images/timeinterval.png" alt="time interval">

                    <li>
                        <tr>
                            <h3 id="StockExchange">Stock Exchange</h3>
                        </tr>
                        <td>On the bottom right corner of the screen, there is a button to switch between the
                            National Stock Exchange (NSE) and the Bombay Stock Exchange (BSE). You can view the
                            price movements on the exchange that you invest in.</td>
                    </li>
                    <img id="stock_Ex" src="/images/learn-images/stockEx..png" alt="stock exchange">

                    <li>
                        <tr>
                            <h3 id="Price">Price</h3>
                        </tr>
                        <td>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;">Let’s say that you choose a time period of one day and a time interval of five
                                minutes. <span id="purple">The stock chart will be plotted using price details for every
                                    interval</span>.
                                Hence, you will have four price points for each interval like opening price, closing
                                price, highest price, and lowest price of the stock.
                            </p>
                            <p style="font-size: 1.05rem; line-height: 1.8rem;"></p>This can be beneficial for traders as it can offer insights into the volatility
                            of the stock price over a given period at every interval. </p>
                        </td>
                    </li>
                    <img id="price" src="/images/learn-images/price.png" alt="price">

                </ol>
                <!-- </div> -->

            </div>
        </div>
    </div>
    <%- include('../includes/footer.ejs') %>
    <script src="/js/scroll.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
</body>

</html>