<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPO</title>

    <link rel="stylesheet" href="/css/learn.css">

</head>
<body style="background-image: url('/images/learn-images/chp-hero04.png'); background-repeat: no-repeat;">
    
    <%- include('../includes/navbar.ejs') %>
    <div class="chpBox" id="chp7Box">
        <div id="tob" class="chp7tob">
            <div id="contentBox" id="chp7contentBox">
                <h2 style="color: #6540ff;"><u>Table of Contents</u></h2>
                <div id="list" class="listchp7">
                    <ul>
                        <li><a href="#" class="heading">How IPO works</a></li>
                        <li><a href="#" class="heading">ipo in stock market</a></li>
                        <li><a href="#" class="heading">Types of ipo</a></li>
                        <li><a href="#" class="heading">ipo process</a></li>
                        <li><a href="#" class="heading">investing in ipo</a></li>
                        <li><a href="#" class="heading">How is ipo priced</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="mainContent" id="chp7mainContent">

            <h1 style="font-size: 5.4rem;">Initial Public Offering (IPO)</h1>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">Initial Public Offering (IPO) refers to the process where private companies sell their shares to the public to raise equity capital from the public investors. The process of IPO transforms a privately-held company into a public company. This process also creates an opportunity for smart investors to earn a handsome return on their investments.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">An IPO is an initial public offering, in which shares of a private company are made available to the public for the first time. An IPO allows a company to raise equity capital from public investors.</p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">The transition from a private to a public company can be an important time for private investors to fully realize gains from their investment as it typically includes a share premium for current private investors. Meanwhile, it also allows public investors to participate in the offering.</p>

            <img src="/images/learn-images/ipo.webp" id="ipo">

            <h2>How an Initial Public Offering (IPO) Works</h2>
    
            <p style="font-size: 1.2rem; line-height: 1.8rem;">Before an IPO, a company is considered private. As a pre-IPO private company, the business has grown with a relatively small number of shareholders including early investors like the founders, family, and friends along with professional investors such as venture capitalists or angel investors.</p>
            
            <p style="font-size: 1.2rem; line-height: 1.8rem;">An IPO is a big step for a company as it provides the company with access to raising a lot of money. This gives the company a greater ability to grow and expand. The increased transparency and share listing credibility can also be a factor in helping it obtain better terms when seeking borrowed funds as well.</p>
            
            <p style="font-size: 1.2rem; line-height: 1.8rem;">When a company reaches a stage in its growth process where it believes it is mature enough for the rigors of SEC regulations along with the benefits and responsibilities to public shareholders, it will begin to advertise its interest in going public.</p>
            
            <p style="font-size: 1.2rem; line-height: 1.8rem;">Typically, this stage of growth will occur when a company has reached a private valuation of approximately $1 billion, also known as unicorn status. However, private companies at various valuations with strong fundamentals and proven profitability potential can also qualify for an IPO, depending on the market competition and their ability to meet listing requirements.</p>
            
            <p style="font-size: 1.2rem; line-height: 1.8rem;">IPO shares of a company are priced through underwriting due diligence. When a company goes public, the previously owned private share ownership converts to public ownership, and the existing private shareholders’ shares become worth the public trading price. Share underwriting can also include special provisions for private to public share ownership.</p>
        
            <p style="font-size: 1.2rem; line-height: 1.8rem;">Meanwhile, the public market opens up a huge opportunity for millions of investors to buy shares in the company and contribute capital to a company’s shareholders' equity. The public consists of any individual or institutional investor who is interested in investing in the company.</p>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">Overall, the number of shares the company sells and the price for which shares sell are the generating factors for the company’s new shareholders' equity value. Shareholders' equity still represents shares owned by investors when it is both private and public, but with an IPO, the shareholders' equity increases significantly with cash from the primary issuance.</p>

            
            <h2>IPO in stock Market</h2>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">IPO stands for Initial Public Offering. Initial Public Offering (IPO) can be defined as the process in which a private company or corporation can become public by selling a portion of its stake to the investors.  </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">An IPO is generally initiated to infuse the new equity capital to the firm, to facilitate easy trading of the existing assets, to raise capital for the future or to monetize the investments made by existing stakeholders. 
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">The institutional investors, high net worth individuals (HNIs) and the public can access the details of the first sale of shares in the prospectus. The prospectus is a lengthy document that lists the details of the proposed offerings.
            </p>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">Once the IPO is done, the shares of the firm are listed and can be traded freely in the open market. The stock exchange imposes a minimum free float on the shares both in absolute terms and as a ratio of the total share capital.</p>

            <h2>Types of IPO</h2>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">There are two common types of IPO. They are-
            </p>

            <ol>
                <li><h3>Fixed Price Offering</h3></li>
                <p style="font-size: 1.2rem; line-height: 1.8rem;">Fixed Price IPO can be referred to as the issue price that some companies set for the initial sale of their shares. The investors come to know about the price of the stocks that the company decides to make public. 
                </p>

                <p style="font-size: 1.2rem; line-height: 1.8rem;">The demand for the stocks in the market can be known once the issue is closed. If the investors partake in this IPO, they must ensure that they pay the full price of the shares when making the application.  
            </p>

            <li><h3>Book Building Offer</h3></li>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">In the case of book building,  the company initiating an IPO offers a 20% price band on the stocks to the investors. Interested investors bid on the shares before the final price is decided. Here, the investors need to specify the number of shares they intend to buy and the amount they are willing to pay per share. 

            </p>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">The lowest share price is referred to as the floor price, and the highest stock price is known as the cap price. The ultimate decision regarding the price of the shares is determined by investors’ bids.

            </p>

            </ol>

            <h2>IPO Process</h2>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">The IPO process essentially consists of two parts. The first is the pre-marketing phase of the offering, while the second is the initial public offering itself. When a company is interested in an IPO, it will advertise to underwriters by soliciting private bids or it can also make a public statement to generate interest.
            </p>

            <p style="font-size: 1.2rem; line-height: 1.8rem;">The underwriters lead the IPO process and are chosen by the company. A company may choose one or several underwriters to manage different parts of the IPO process collaboratively. The underwriters are involved in every aspect of the IPO due diligence, document preparation, filing, marketing, and issuance.
            </p>

            <h2>Steps to an IPO</h2>
            <ol>
                <li><h4>Proposals</h4></li>
                <p style="font-size: 1.2rem; line-height: 1.8rem;">Underwriters present proposals and valuations discussing their services, the best type of security to issue, offering price, amount of shares, and estimated time frame for the market offering.</p>

                <li><h4>Underwriter</h4></li>
                <p style="font-size: 1.2rem; line-height: 1.8rem;">The company chooses its underwriters and formally agrees to underwrite terms through an underwriting agreement.</p>

                <li><h4>Team</h4></li>
                <p style="font-size: 1.2rem; line-height: 1.8rem;">IPO teams are formed comprising underwriters, lawyers, certified public accountants (CPAs), and Securities and Exchange Commission (SEC) experts.</p>

                <li><h4>Documentation</h4></li>
                <p style="font-size: 1.2rem; line-height: 1.8rem;">Information regarding the company is compiled for required IPO documentation. The S-1 Registration Statement is the primary IPO filing document. It has two parts—the prospectus and the privately held filing information.
                     The S-1 includes preliminary information about the expected date of the filing
                    U.S. Securities and Exchange Commission.
                     It will be revised often throughout the pre-IPO process. The included prospectus is also revised continuously.</p>

                     <li><h4>Marketing & Updates</h4></li>
                     <p style="font-size: 1.2rem; line-height: 1.8rem;"> Marketing materials are created for pre-marketing of the new stock issuance. Underwriters and executives market the share issuance to estimate demand and establish a final offering price. Underwriters can make revisions to their financial analysis throughout the marketing process. This can include changing the IPO price or issuance date as they see fit. Companies take the necessary steps to meet specific public share offering requirements. Companies must adhere to both exchange listing requirements and SEC requirements for public companies.</p>

                     <li><h4>Board & Processes</h4></li>
                     <p style="font-size: 1.2rem; line-height: 1.8rem;"> Form a board of directors and ensure processes for reporting auditable financial and accounting information every quarter.</p>

                     <li><h4>Shares Issued</h4></li>
                     <p style="font-size: 1.2rem; line-height: 1.8rem;">The company issues its shares on an IPO date. Capital from the primary issuance to shareholders is received as cash and recorded as stockholders' equity on the balance sheet. Subsequently, the balance sheet share value becomes dependent on the company’s stockholders' equity per share valuation comprehensively.</p>

                     <li><h4>Post IPO </h4></li>
                     <p style="font-size: 1.2rem; line-height: 1.8rem;"> Some post-IPO provisions may be instituted. Underwriters may have a specified time frame to buy an additional amount of shares after the initial public offering (IPO) date. Meanwhile, certain investors may be subject to quiet periods.</p>

            </ol>


            <h2>Investing in an IPO</h2>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                When a company decides to raise money via an IPO, it is only after careful consideration and analysis that this particular exit strategy will maximize the returns of early investors and raise the most capital for the business. Therefore, when the IPO decision is reached, the prospects for future growth are likely to be high, and many public investors will line up to get their hands on some shares for the first time. IPOs are usually discounted to ensure sales, which makes them even more attractive, especially when they generate a lot of buyers from the primary issuance.
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                Initially, the price of the IPO is usually set by the underwriters through their pre-marketing process. At its core, the IPO price is based on the valuation of the company using fundamental techniques. The most common technique used is discounted cash flow, which is the net present value of the company’s expected future cash flows.
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                Underwriters and interested investors look at this value on a per-share basis. Other methods that may be used for setting the price include equity value, enterprise value, comparable firm adjustments, and more. The underwriters do factor in demand but they also typically discount the price to ensure success on the IPO day.
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                It can be quite hard to analyze the fundamentals and technicals of an IPO issuance. Investors will watch news headlines but the main source for information should be the prospectus, which is available as soon as the company files its S-1 Registration. The prospectus provides a lot of useful information. Investors should pay special attention to the management team and their commentary as well as the quality of the underwriters and the specifics of the deal. Successful IPOs will typically be supported by big investment banks that can promote a new issue well.
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                Overall, the road to an IPO is a very long one. As such, public investors building interest can follow developing headlines and other information along the way to help supplement their assessment of the best and potential offering price.
            </p>
            <p style="font-size: 1.2rem; line-height: 1.8rem;">
                The pre-marketing process typically includes demand from large private accredited investors and institutional investors, which heavily influence the IPO’s trading on its opening day. Investors in the public don’t become involved until the final offering day. All investors can participate but individual investors specifically must have trading access in place. The most common way for an individual investor to get shares is to have an account with a brokerage platform that itself has received an allocation and wishes to share it with its clients.
            </p>

            <h3>Performance of IPOs</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        Several factors may affect the return from an IPO which is often closely watched by investors. Some IPOs may be overly hyped by investment banks which can lead to initial losses. However, the majority of IPOs are known for gaining in short-term trading as they become introduced to the public. There are a few key considerations for IPO performance.
    </p>
    <h3>Lock-Up</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        If you look at the charts following many IPOs, you'll notice that after a few months the stock takes a steep downturn. This is often because of the expiration of the lock-up period. When a company goes public, the underwriters make company insiders, such as officials and employees, sign a lock-up agreement.
    </p>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        Lock-up agreements are legally binding contracts between the underwriters and insiders of the company, prohibiting them from selling any shares of stock for a specified period. The period can range anywhere from three to 24 months. Ninety days is the minimum period stated under Rule 144 (SEC law) but the lock-up specified by the underwriters can last much longer. The problem is, when lockups expire, all the insiders are permitted to sell their stock. The result is a rush of people trying to sell their stock to realize their profit. This excess supply can put severe downward pressure on the stock price.
    </p>
    <h3>Waiting Periods</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        Some investment banks include waiting periods in their offering terms. This sets aside some shares for purchase after a specific period. The price may increase if this allocation is bought by the underwriters and decrease if not.
    </p>
    <h3>Flipping</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        Flipping is the practice of reselling an IPO stock in the first few days to earn a quick profit. It is common when the stock is discounted and soars on its first day of trading.
    </p>
    <h3>Tracking IPO Stocks</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        Closely related to a traditional IPO is when an existing company spins off a part of the business as its standalone entity, creating tracking stocks. The rationale behind spin-offs and the creation of tracking stocks is that, in some cases, individual divisions of a company can be worth more separately than as a whole. For example, if a division has high growth potential but large current losses within an otherwise slowly growing company, it may be worthwhile to carve it out and keep the parent company as a large shareholder, then let it raise additional capital from an IPO.
    </p>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">
        From an investor’s perspective, these can be interesting IPO opportunities. In general, a spin-off of an existing company provides investors with a lot of information about the parent company and its stake in the divesting company. More information available for potential investors is usually better than less so savvy investors may find good opportunities in this type of scenario. Spin-offs can usually experience less initial volatility because investors have more awareness.
    </p>

    <h3>How is IPO Priced?</h3>
    <p style="font-size: 1.2rem; line-height: 1.8rem;">When a company goes IPO, it needs to list an initial value for its new shares. This is done by the underwriting banks that will market the deal. In large part, the value of the company is established by the company's fundamentals and growth prospects. Because IPOs may be from relatively newer companies, they may not yet have a proven track record of profitability. Instead, comparables may be used. However, supply and demand for the IPO shares will also play a role on the days leading up to the IPO.

    </p>



        </div>

    </div>
    <%- include('../includes/footer.ejs') %>
    <script src="/js/scroll.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

</body>
</html>