<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    <link rel="stylesheet" href="/css/learn.css">


    <style>
        html,
        body {
            width: 100%;
            /* overflow-x: hidden; */
        }
    </style>

    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>



</head>

<body>

    <div id="hero">

        <!-- <img src="/images/learn-images/learn-back2.png" alt="" id="wxyz"> -->

        <div id="header-container">
            <%- include('../includes/navbar.ejs') %>

                <div id="head-contain">
                    <div id="left">
                        <div class="leftContent">
                            <div class="leftHead"><span id="learn">Learn</span> <span id="element"></span></div>
                            <div id="para">
                                <p>Trading refers to the buying and selling of financial instruments with the aim of
                                    generating
                                    profit.
                                    These financial instruments can include stocks, bonds, currencies, commodities, and
                                    derivatives.
                                    Trading can take place on various platforms and through different mechanisms,
                                    depending on the
                                    type of
                                    assets being traded.</p>
                            </div>
                            <a href="#trading">
                                <button id="explore">Explore More</button>
                            </a>
                        </div>
                    </div>
                    <div id="right">
                        <!-- <img src="make-money-trim.png" id="make-money"> -->
                        <!-- <dotlottie-player src="https://lottie.host/1cf3c2ea-ef45-4fc2-800f-eb96e19819b2/0W8zBnG3za.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->

                        <!-- <dotlottie-player src="https://lottie.host/1cf3c2ea-ef45-4fc2-800f-eb96e19819b2/0W8zBnG3za.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
                        <dotlottie-player src="https://lottie.host/cb6db0c0-c399-40c4-923f-3341e03571ad/5uJMaLZT2n.json"
                            background="transparent" speed="1"
                            style="width: 70%; height: 70%; margin-top: 17rem; margin-left: 4rem;" loop
                            autoplay></dotlottie-player>
                    </div>

                </div>
        </div>

    </div>


    <div id="trading">
        <h1 style="font-size: 4rem; color: #7B2BF9;">Types of Trading</h1>



        <div class=" stk trade tr">
            <div class="content">
                <h2 style="font-size: 2.3rem;">Stock trading</h2>
                <p> The buying and selling of shares in publicly traded companies. Stock trading involves buying
                    and selling shares of publicly traded companies with the goal of making a profit. </p>
                <ul>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Markets :</h4>
                        </dt>
                        <dd style="display: inline-block;">Stock Exchange such as Bombay Stock Exchange (BSE).
                        </dd>
                    </li>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Participants :</h4>
                        </dt>
                        <dd style="display: inline-block;">Individual investors, institutional investors, and
                            traders.</dd>
                    </li>
                </ul>
            </div>

            <div id="stockPhoto" class="photu">

                <dotlottie-player src="https://lottie.host/66f9074a-7a23-46ed-81c2-4aeae135598f/FhrObqJhxp.json"
                    background="transparent" speed="1" style="width: 100%; height: 180%;" 1 autoplay></dotlottie-player>
            </div>
        </div>



        <div id="forex" class="trade tl">

            <div id="forexPhoto" class="photu">

                <dotlottie-player src="https://lottie.host/d3406044-4b0e-4e84-89b7-f8be614d99d4/c6oI6ghLNp.json"
                    background="transparent" speed="1" style="width: 100%; height: 180%;" 1 autoplay></dotlottie-player>

            </div>

            <div id="forexContent" class="content">
                <h2 style="font-size: 2.3rem;">Forex Trading</h2>
                <p>The exchange of currencies on the foreign exchange market.
                    Forex trading, also known as foreign exchange trading or currency trading, involves buying and
                    selling currencies on the foreign exchange market with the aim of making a profit.
                    The forex market is the largest and most liquid financial market in the world, with a daily
                    trading volume exceeding $6 trillion.</p>
                <ul>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Markets :</h4>
                        </dt>
                        <dd style="display: inline-block;">Decentralized global market.</dd>
                    </li>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Participants :</h4>
                        </dt>
                        <dd style="display: inline-block;">Banks, financial institutions, corporations, and
                            individual traders.</dd>
                    </li>
                </ul>
            </div>


        </div>



        <div id="commodity" class="trade tr">
            <div id="commodityContent" class="content">
                <h2 style="font-size: 2.3rem;">Commodity Trading</h2>
                <p>The buying and selling of physical commodities like gold, oil, and agricultural products.
                    Commodity trading involves buying and selling physical goods like metals, energy, and
                    agricultural products with the aim of making a profit.
                    Commodities are essential goods that are interchangeable with other goods of the same type.
                </p>
                <ul>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Markets :</h4>
                        </dt>
                        <dd style="display: inline-block;">Commodity exchanges such as the Chicago Mercantile
                            Exchange (CME).</dd>
                    </li>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Participants :</h4>
                        </dt>
                        <dd style="display: inline-block;">Producers, consumers, and traders.</dd>
                    </li>
                </ul>
            </div>
            <div id="commodityPhoto" class="photu">

                <dotlottie-player src="https://lottie.host/71ce8ac1-e7e4-4bc2-b6f5-53060068d473/QAzu1KA39e.json"
                    background="transparent" speed="1" style="width: 100%; height: 180%;" infinite
                    autoplay></dotlottie-player>

            </div>

        </div>


        <div id="bond" class="trade tl">
            <div id="bondPhoto" class="photu">
                <dotlottie-player src="https://lottie.host/c194fd09-0a5f-4df7-b661-a29f4d7bf9b6/wpq4rCrxzY.json"
                    background="transparent" speed="1" style="width: 100%; height: 240%;" infinite
                    autoplay></dotlottie-player>

            </div>

            <div id="bondContent" class="content">
                <h2 style="font-size: 2.3rem;">Bond Trading</h2>
                <p>The buying and selling of debt securities, typically issued by governments or corporations.
                    Bond trading involves buying and selling debt securities, usually in the form of bonds issued by
                    governments, municipalities, or corporations.
                    These bonds represent a loan made by the investor (buyer) to the issuer (seller) and include a
                    promise to pay back the principal amount at a later date, along with periodic interest payments.
                </p>
                <ul>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Markets :</h4>
                        </dt>
                        <dd style="display: inline-block;">Bond markets, including over-the-counter (OTC) and
                            exchanges.</dd>
                    </li>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Participants :</h4>
                        </dt>
                        <dd style="display: inline-block;">Governments, corporations, institutional investors, and
                            individual investors.</dd>
                    </li>
                </ul>
            </div>
        </div>

        <div id="derivative" class="trade tr">
            <div id="derivativeContent" class="content">
                <h2 style="font-size: 2.3rem;">Crypto Trading</h2>
                <p>Crypto trading involves buying and selling cryptocurrencies with the aim of making a profit.
                    Cryptocurrencies are digital or virtual currencies that use cryptography for security.
                    They operate on a decentralized network based on blockchain technology. Bitcoin, Ethereum, Ripple,
                    and Litecoin are among the most well-known cryptocurrencies.
                </p>
                <ul>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Markets :</h4>
                        </dt>
                        <dd style="display: inline-block;">Futures exchanges such as the CME and over-the-counter
                            markets ,Spot Market</dd>
                    </li>
                    <li>
                        <dt style="display: inline-block;">
                            <h4>Participants :</h4>
                        </dt>
                        <dd style="display: inline-block;">Speculators, hedgers, and institutional investors.</dd>
                    </li>
                </ul>
            </div>
            <div id="derivativePhoto" class="photu">
                <dotlottie-player src="https://lottie.host/c03e5618-5762-41e5-96ee-54591268a169/qzPveSQFxY.json"
                    background="transparent" speed="1" style="width: 120%; height: 230%;" loop
                    autoplay></dotlottie-player>
                <!-- <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>  -->

                <!-- <dotlottie-player src="https://lottie.host/c03e5618-5762-41e5-96ee-54591268a169/qzPveSQFxY.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player> -->
            </div>
        </div>
        <h1 style="margin-top: 9rem; font-size: 3.5rem;">Learn More</h1>
    </div>
    <!-- chapters  -->


    <div id="boxContainer">

        <div id="chp1" class="chp chpT">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Understand Charts</div>
        </div>
        <div id="chp2" class="chp chpC">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Understand Markets</div>
        </div>
        <div id="chp3" class="chp chpL">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Single Candlestick Pattern</div>
        </div>
        <div id="chp4" class="chp chpT">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Double Candlestick Pattern</div>
        </div>
        <div id="chp5" class="chp chpC">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Triple Candlestick Pattern</div>
        </div>
        <div id="chp6" class="chp chpL">
            <div id="chp-content" style="padding: 2rem; position: absolute;">Trend Analysis</div>
        </div>
        <div id="chp7" class="chp chpT">
            <div id="chp-content" style="padding: 2rem; position: absolute;">IPO</div>
        </div>

    </div>

    </div>
    <%- include('../includes/footer.ejs') %>
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

        <script>
            var typed = new Typed('#element', {
                strings: ['Finance', 'Stock', 'Investment', 'Charts', 'Markets', 'Finance'],
                typeSpeed: 60,
            });

            // document.getElementsByClassName('delay').animationDelay = 1s;


            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp1');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter1'); // Opens the file in a new tab
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp1');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter'); // Opens the file in a new tab
                });
            });


            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp2');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter2'); // Opens the file in a new tab
                });
            });


            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp3');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter3'); // Opens the file in a new tab
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp4');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter4'); // Opens the file in a new tab
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp5');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter5'); // Opens the file in a new tab
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp6');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter6'); // Opens the file in a new tab
                });
            });

            document.addEventListener("DOMContentLoaded", function () {
                const clickableDiv = document.getElementById('chp7');

                clickableDiv.addEventListener('click', function () {
                    window.open('/learn/chapter7'); // Opens the file in a new tab
                });
            });


        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>